<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/08b0c6ef-0b06-4864-854e-b039d53ff2cf/resourcegroups/seminario12/providers/Microsoft.Web/sites/app220180506073713</ResourceId>
    <ResourceGroup>seminario12</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://app220180506073713.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>app220180506073713.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>app220180506073713</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$app220180506073713</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SemDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:seminario12.database.windows.net,1433;Initial Catalog=SemDB;Persist Security Info=False;User ID=juan;Password=Lemus1996;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:seminario12.database.windows.net,1433;Initial Catalog=SemDB;Persist Security Info=False;User ID=juan;Password=Lemus1996;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="app2.SemDBEntities, app2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SemDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/recomendaciones.csdl|res://*/recomendaciones.ssdl|res://*/recomendaciones.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:seminario12.database.windows.net,1433;Initial Catalog=SemDB;Persist Security Info=False;User ID=juan;Password=Lemus1996;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>